# Compiled python modules.
*.pyc

# Byte-compiled
__pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea

# Sphinx
_build

# venv
venv
.venv
env/

# Python version file
.python-version
