absl-py>=2.0.0
typing_extensions>=4.2.0
immutabledict>=1.0.0
jax>=0.4.20
jaxlib>=0.4.20
jaxopt>=0.8.2
flax>=0.7.5
matplotlib>=3.3.0
numpy>=1.24.1
setuptools;python_version>="3.10"
chex>=0.1.85
fancyflags>=1.2
equinox @ git+https://github.com/patrick-kidger/equinox@1e601672d38d2c4d483535070a3572d8e8508a20
h5py>=3.10.0
PyYAML>=6.0.1
xarray>=2023.12.0